.address-book {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 16px;
  height: calc(100vh - 80px);
  min-width: 560px;
}

.address-book > div {
  width: 50%;
}

.address-book__list {
  border: 1px solid #e6e4d0;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.address-book__list::-webkit-scrollbar {
  width: 12px;
}

.address-book__list::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.address-book__list::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}

.address-book__list__title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
}

.address-book__list__description {
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
}

.address-book__list__description p {
  padding-bottom: 16px;
}

.address-book__form {
  border: 1px solid #e6e4d0;
  border-radius: 8px;
  padding: 10px;
}

.addres-book__button-wrap {
  text-align: center;
  margin-top: 30px;
}